// Dark theme colors
$color-primary: #FF751F;
$color-secondary: #854D27;
$color-white: #f1f2f6;
$color-light: #ced6e0;
$color-grey: #57606f;
$color-dark: #231e1b;
$color-black: #1e1a17;

// Font families
$font-accent: "Marcellus", "Georgia", serif;
$font-normal: "Overpass", "Trebuchet MS", sans-serif;

// Defaults
$default-line-height: 1.6;
$default-font-size: 62.5%;

// Text sizes
$text-regular: 1.4rem;
