// Dark theme colors
$color-primary: #FF751F;
$color-secondary: #854D27;
$color-white: #f1f2f6;
$color-light: #ced6e0;
$color-grey: #57606f;
$color-dark: #1f1b18;
$color-black: #1b1815;

// Font families
$font-accent: "Great Vibes", cursive;
$font-normal: "Josefin Sans", "Trebuchet MS", sans-serif;

// Defaults
$default-line-height: 1.6;
$default-font-size: 62.5%;

// Text sizes
$text-regular: 1.5rem;
