*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font-family: "Josefin Sans", "Trebuchet MS", sans-serif;
  font-size: 1.5rem;
  line-height: 1.6;
  background-color: #1b1815;
  color: #f1f2f6;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.section {
  padding: calc(5rem + 5vw) 0 !important;
}
.section--heading {
  margin-bottom: 5rem;
}

.container {
  width: 120rem;
  margin: 0 auto;
  padding: 0 5vw;
}

.d-none {
  display: none;
}

.color-primary {
  color: #FF751F;
}

.color-light {
  color: #c9d1da;
}

.color-white {
  color: #f1f2f6;
}

.mb-sm {
  margin-bottom: 1rem;
}

.mb-md {
  margin-bottom: 2.5rem;
}

.mb-lg {
  margin-bottom: 5rem;
}

.font-normal {
  font-family: "Josefin Sans", "Trebuchet MS", sans-serif;
}

.font-accent {
  font-family: "Great Vibes", cursive;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.fw-300 {
  font-weight: 300;
}

.text-primary {
  font-size: 5rem;
}

.text-secondary {
  font-size: 3rem;
}

.text-tertiary {
  font-size: 1.9rem;
}

.btn {
  border: none;
  padding: 1rem 2.5rem;
  font-family: inherit;
}
.btn:hover {
  cursor: pointer;
}
.btn--group {
  display: flex;
  gap: 2.5rem;
}
.btn--primary {
  background: #FF751F;
  color: #1b1815;
}
.btn--primary:hover {
  background: #ff8539;
}
.btn--secondary {
  background: #6b3d1e;
  color: #c9d1da;
}
.btn--secondary:hover {
  background: #7f4824;
}

.header {
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgba(27, 24, 21, 0.85), rgba(31, 27, 24, 0.85)), url("../assets/hero-image.jpg");
  background-size: cover;
  background-position: top;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 0;
}
.header__nav--logo img {
  width: 7.5rem;
}
.header__nav--menu {
  display: flex;
  gap: 5rem;
  align-items: center;
}
.header__hero {
  height: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header__hero--title {
  word-spacing: 0.5rem;
}

.about__content {
  display: flex;
  gap: 5rem;
}
.about__content--gallery {
  position: relative;
  width: 50%;
}
.about__content--gallery:hover img {
  filter: blur(0.2rem);
  transform: scale(0.9);
}
.about__content--gallery img {
  width: 22.5rem;
  transition: all 0.3s ease-in-out;
  position: absolute;
}
.about__content--gallery img:hover {
  filter: blur(0);
  border: 0.5rem solid #6b3d1e;
  z-index: 2;
  padding: 1.5rem;
  transform: scale(1.5);
}
.about__content--gallery--img-1 {
  top: 0;
  left: 5rem;
}
.about__content--gallery--img-2 {
  top: 14rem;
  left: 15rem;
}
.about__content--gallery--img-3 {
  top: 5rem;
  right: 1rem;
}
.about__content--desc {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.about__content--desc div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.about__content--desc button {
  align-self: flex-start;
}
