.container {
    width: 120rem;
    margin: 0 auto;
    padding: 0 5vw;
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}

// Color utilities
.color-primary {
    color: $color-primary;
}

.color-secondary {
    color: $color-secondary;
}

.color-light {
    color: $color-light;
}

.color-white {
    color: $color-white;
}

.color-grey {
    color: $color-grey;
}

// Background utilities
.bg-black {
    background-color: $color-black;
}

.bg-dark {
    background-color: $color-dark;
}

// Margin utilities
.mb-sm {
    margin-bottom: 1rem;
}

.mb-md {
    margin-bottom: 2.5rem;
}

.mb-lg {
    margin-bottom: 5rem;
}

// Font utilities
.font-normal {
    font-family: $font-normal;
}

.font-accent {
    font-family: $font-accent;
}

// Text utilities
.text-uppercase {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

// Font Weight utilities
.fw-300 {
    font-weight: 300;
}

// Text Size utilities
.text-primary { 
    font-size: 5rem;
}

.text-secondary { 
    font-size: 3rem;
}

.text-tertiary {
    font-size: 1.9rem;
}

.text-small {
    font-size: 1.2rem;
}